[Unit]
Description=app

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /var/www/html/server.js
EnvironmentFile=/var/www/html/service_files/appEnvVar.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target